.bar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.btn {
  width: 4%;
  min-width: 60px;
  height: 80%;
  font-weight: 600;
  color: var(--button-text-color);
  border-radius: 10px;
  cursor: pointer;
}

.signInButton {
  border: 1px solid var(--login-button-color1);
  background-color: var(--login-button-color1);
}

.signOutButton {
  border: 1px solid var(--logout-button-color);
  background-color: var(--logout-button-color);
}

.signInButton:hover, .signOutButton:hover {
  background-color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}
