.section {
  width: 32%;
  min-width: 300px;
  height: 24%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #808080;
  border-radius: 30px;
  position: relative;
  top: 25vh;
  margin: auto;
}

.active {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.05);
}

.checkMark {
  color: green;
  width: 28px;
  height: 28px;
}
