.section {
  width: 32%;
  min-width: 300px;
  height: 24%;
  background-color: var(--file-dropzone-background-color);
  border: 1px solid var(--file-dropzone-border-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25vh;
  margin: auto;
}

.active {
  border: 1px solid var(--file-dropzone-active-background-color);
  background-color: var(--file-dropzone-active-border-color);
}

.checkMark {
  color: var(--check-mark-color);
  width: 28px;
  height: 28px;
}
