:root {
  --login-button-color1: coral;
  --login-button-color2: darkcyan;
  --logout-button-color: #ff0000;
  --button-hover-color: #333;
  --button-text-color: ghostwhite;
  --modal-backdrop-color: rgba(0, 0, 0, 0.3);
  --modal-container-color: beige;
  --title-and-label-color: darkcyan;
  --divider-color: darkcyan;
  --icon-color: darkgray;
  --file-dropzone-background-color: rgba(0, 0, 0, 0.05);
  --body-background-color1: darkblue;
  --body-background-color2: darkcyan;
  --file-dropzone-border-color: #808080;
  --file-dropzone-active-background-color: green;
  --file-dropzone-active-border-color: rgba(0, 255, 0, 0.05);
  --check-mark-color: green;
}

* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, var(--body-background-color1), var(--body-background-color2));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}
